{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8" />
	<style>
	/*
universal selector 
class selector     . (to target a group of elements
id selector        # (to target a unique html element)
*/

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 2;
    cursor: pointer;
}

#message{
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
 	line-height: 120%;
	
	font-family: arial;
    color: white;
	/*font-size: 3vw;
	width: 70vw;
    height: 70vh;
    margin: 15vh auto;*/
}

#Schlumpf {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#Schlumpf div {
    margin: auto;
    width: 50%;
    text-align: center;
    border: 3px solid green;
    padding: 10px;
}
#tablehead {
    margin: auto;
    width: 50%;
    text-align: center;
}
#Schlumpf table {
    margin: auto;
    width: auto;
    padding: 10px;
} 
#Schlumpf td, #Schlumpf th {
    border: 1px solid #ddd;
    padding: 8px;
}

#Schlumpf tr:nth-child(even){background-color: #f2f2f2;}

#Schlumpf tr:hover {background-color: #dddddd;}

#Schlumpf th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#content a, .menu a:link, .menu a:active, .menu a:visited 
{
text-decoration: none;
}
#content a:hover 
{
background-color: black;
color: white;
}
.nav 
{
text-align: center;
margin: 10px 10px;
padding-top: 8px;
padding-bottom: 10px;
padding-left: 8px;
background: none;
}

.nav li 
{
list-style-type: none;
display: inline;
padding: 10px 30px;
background-color: #e67e22;
margin-left: -11px;
font-size: 120%;
}

.nav li:first-child
{
margin-left: 0;
border-top-left-radius: 10px !important;
border-bottom-left-radius: 10px !important;
}

.nav li:last-child
{
margin-right: 0px;
border-top-right-radius: 10px !important;
border-bottom-right-radius: 10px !important;
}

.nav a, .menu a:link, .menu a:active, .menu a:visited 
{
text-decoration: none;
color: white;
border-bottom: 0;
padding: 10px 10px;
}

.nav a:hover 
{
text-decoration: none;
background: #9b59b6;
padding: 10px 10px;
}

ul.nav li a.current 
{
text-decoration: none;
background: #e74c3c;
padding: 10px 10px;
}

@media only screen and (orientation:landscape) 
{
.mouse:before
{
    content: 'click';
}

.postimage
{
margin: 15px;
float: right;
width: 200px;
}

.logo
{
width: 200px;
}
#message
{
font-size: 130%;
}

}

@media only screen and (orientation:portrait) 
{
.mouse:before
{
    content: 'tap';
}
	
.postimage
{
margin: 15px;
width: 100%;
}

.logo
{
width: 75%;
}

#message, #footer, .crass, .pithy, p, h2
{
font-size: 120%;
}

}

#footer
{
padding-top: 12px;
padding-bottom: 12px;
text-align: center;
background-color: cyan;
color: white;
font-family: arial;
font-weight: bold;
}

#footer a, .taglink
{
font-family: arial;
  background-color: #4a90e2;
  color: white;
  line-height: 1.5;
  text-decoration: none;
  padding: 2px 6px 2px 6px;
  border-radius: 2px;
}

.numberCircle {
  display:inline-block;
  line-height:0px;

  border-radius:50%;
  border:2px solid;

  font-size:32px;
}

.numberCircle span {
  display:inline-block;

  padding-top:50%;
  padding-bottom:50%;

  margin-left:8px;
  margin-right:8px;
}
.heading
{
/*width: 400px;*/
font-family: arial;
border: 10px solid black;
 box-sizing: border-box;
}
.crass {
font-family: arial;
  background-color: #4a90e2;
  color: white;
  text-decoration: none;
  padding: 2px 46px 2px 6px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}
.pithy {
font-family: arial;
  background-color: #f5a623;
  color: white;
  text-decoration: none;
  padding: 2px 46px 2px 6px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: red;
}

.crass .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: #4a4a4a;
  color: white;
}
.pithy .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: #4a4a4a;
  color: white;
}

.crass .badge span {
  display:inline-block;

  padding-top:50%;
  padding-bottom:50%;

  margin-left:8px;
  margin-right:8px;
}
.pithy .badge span {
  display:inline-block;

  padding-top:50%;
  padding-bottom:50%;

  margin-left:8px;
  margin-right:8px;
}
</style>

<script>
function copyTag ()
{
var x=document.myform.myTags.selectedIndex;
var y=document.myform.myTags.options;
 console.log("Index: " + y[x].index + " is " + y[x].text); 

if (document.myform.tags.value == '')
	document.myform.tags.value = y[x].text;
else
	document.myform.tags.value = document.myform.tags.value + ',' + y[x].text;
}

function off() 
{
document.getElementById("overlay").style.display = "none";
}

function fakead(url)
{	
fetch(url)
  .then(function(response) {
    return response.json();
  })
  .then(function(msg) 
  {
	if (msg.text.match(/html$/) || msg.text.match(/mp4$/) || msg.text.match(/pdf$/) || msg.text.match(/jpg$/) || msg.text.match(/^http/))
		window.location.href = msg.text;
	else
		{
		if (msg.text.match(/<table>/))
			document.getElementById("overlay").onclick = null; 

		if (msg.text.match(/<h2>/))
		document.getElementById("message").style.lineHeight = "200%";
		
		document.getElementById("message").innerHTML = msg.text; 
		document.getElementById("overlay").style.display = "block";
		}
  });
}
</script>

<title>Crass or pithy?</title>
<link rel="icon" href="/images/favicon.ico">
<!-- now we can put cryptic html comments in the server page. -->

<!-- Artificial intelligence is no match for natural stupidity. -->
</head>
<body>
<div id="overlay" onclick="off();">
<div id="message">hello
</div> 
</div>

<center>
<div id="tablehead"><a title="click on Daffy for some stupendeous jokes" href="/api/nextjoke/{{ .NextJokeId }}"><img class="logo" style="width: 25vw" src="/images/daffy.jpg" /></a></div>
<small> {{ .LoginTag }}</small>
<h1>
<h1 style="font-family: arial">
<a title="sort by dumbest" class="crass" href="/api/sort/crass">&#x1f641; crass</a>
<!-- <span class="numberCircle"><span>30</span></span>--> or 
<a title="sort by smartest" class="pithy" href="/api/sort/pithy">&#x1f642; pithy</a>?
</h1>

<p style="text-align: center; border-radius: 25px; background: wheat; padding: 20px;">
<i>We have gathered here a sample of the most insane news articles we could find.<br />
You are invited to vote your appreciation by clicking either the crass or pithy buttons.</i>
</p>

</center>
{{ end }}